@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Permanent+Marker&family=Roboto:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-align: center;
    color:#064789;
    text-decoration: none;
    font-size: 1.5em;
    padding: 25px;
}

header {
    background-color: rgba(196, 223, 224, 0.76);
}

nav a:hover{
    background-color:white;
    color: indigo;
}


#hero-img{
    width:100%;
}
#hero{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:-100px;
}

#hero-msg{
    grid-column:2/3;
    grid-row:1/2;
    margin:100px;
}

#hero-msg h1{
    text-align: center;
    color:#3FD2C7;
    font-family: "Permanent Marker","Lobster","Luckiest Guy";
    font-size:2em;
}

#hero-box{
    grid-column:1/4;
    grid-row:1/3;
    z-index:-1;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
}

.logo{
    width: 50px;
}


.home-title{
    color:#064789;
    margin-bottom: 10px;
}

footer{
    background-color:whitesmoke;
    color:#00b4d8;
    padding:25px 20px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.main_text h1{
    font-family: "Roboto", "Lobster", "Luckiest Guy";
    font-size: 2m;
}

.main_text p{
    font-family: "Roboto", "Lobster", "Luckiest Guy";
    font-size: 2em;
}

#about_heading{
    font-family: "Roboto", "Lobster", "Luckiest Guy";
    font-size: 4em;
    text-align: center;
}

.about_text p{
    font-family: "Roboto", "Lobster", "Luckiest Guy";
    font-size: 2em;
}

.about_text h2{
    font-family: "Roboto", "Lobster", "Luckiest Guy";
    font-size: 2em;    
}

.team_image{
    width : 100%;
}